/Test_Results
/Albinaria
/Test_Data/XH_other_species
/Test_Data/XH_other_species.zip
/Test_Data/Giraffe/res_giraffe_merge
/Test_Data/Giraffe/res_giraffe_split
/Test_Data/Giraffe/SeedUsed
/Test_Data/Albinaria/res_albinaria_merge
/Test_Data/Albinaria/res_albinaria_split
/Test_Data/Albinaria/SeedUsed
/Test_Data/Milksnake/Species Delimitation/res_milksnake_merge
/Test_Data/Milksnake/Species Delimitation/res_milksnake_split
/Test_Data/Milksnake/Species Delimitation/SeedUsed
/Test_Data/Milksnake/East_West_split/res_EW_1
/Test_Data/Milksnake/East_West_split/res_EW_2
/Test_Data/Milksnake/East_West_split/res_EW_3
/Test_Data/Milksnake/East_West_split/res_EW_4
/Test_Data/Milksnake/East_West_split/res_EW_5
/Test_Data/Milksnake/East_West_split/res_pop1_pop6
/Test_Data/Milksnake/East_West_split/SeedUsed
/Test_Data/Simulated_ABCDX/res_sim_merge
/Test_Data/Simulated_ABCDX/res_sim_split
/Test_Data/Simulated_ABCDX/SeedUsed
/Test_Data/Simulated_ABCDX/XABCD.MCcoal.migration.ctl
/Test_Data/Sunfish/res_sim_merge
/Test_Data/Sunfish/res_sim_split
/Test_Data/Sunfish/SeedUsed
/SeedUsed