/Test_Results
/Test_Data/XH_other_species
/Test_Data/Giraffe/res_giraffe_merge
/Test_Data/Giraffe/res_giraffe_split
/Test_Data/Giraffe/SeedUsed
/Test_Data/Albinaria/res_albinaria_merge
/Test_Data/Albinaria/res_albinaria_split
/Test_Data/Albinaria/SeedUsed